.Rhistory
.Rproj.user
/archive/
data/*
!data/scandal
data/scandal/*
!data/scandal/scandal_wficns_2018-Mar-06.Rds
docs/Articles/*
fig/*
tab/*
packrat/lib*/
R/data_wrangling/scandal/scandal_wficns/*
writeup/debug/*
writeup/_bookdown_files/*
writeup/Jakab_JMP.pdf
R/functions/SplitData.R
