# Ignore everything
/*

# Except for these files
!.Rprofile
!.gitignore
!MF_Industry_Size_R.Rproj
!README.Rmd

!R/
R/*
!R/Initialize_Folders.R
!R/data_acquisition/
R/data_acquisition/*
!R/data_acquisition/WRDS_Data.R
!R/data_acquisition/Other_Web_Data.R
!R/data_wrangling/
R/data_wrangling/*
!R/data_wrangling/1-Clean.R
!R/data_wrangling/2-Benchmark_Returns.R
!R/data_wrangling/3-Portfolio_Weights.R
!R/data_wrangling/4-Identify_Active_Funds.R
!R/data_wrangling/5-CompetitorSize.R
!R/data_wrangling/6-Dln_CompetitorSize.R
!R/data_wrangling/7-Portfolio_Liquidity.R
!R/data_wrangling/8-Portfolio_Groups.R
!R/data_wrangling/9-Combine_Data.R
!R/data_wrangling/scandal/
R/data_wrangling/scandal/*
!R/data_wrangling/scandal/1-ScandalExposure.R
!R/data_wrangling/scandal/2-ScandalOutFlow.R
!R/data_wrangling/scandal/3-Scandal_Analysis_Data.R

!data/
data/*
!data/scandal/
data/scandal/*
!data/scandal/scandal_wficns_2018-Mar-06.Rds

!thesis/
thesis/*
!thesis/render_book.R
!thesis/index.Rmd
!thesis/01-intro.Rmd
!thesis/02-literature.Rmd
!thesis/03-model.Rmd
!thesis/04-data.Rmd
!thesis/05-behavior.Rmd
!thesis/06-scandal.Rmd
!thesis/07-conclusion.Rmd
!thesis/appendix-01-summary.Rmd
!thesis/appendix-02-performance.Rmd
!thesis/appendix-03-behavior.Rmd
!thesis/appendix-04-scandal.Rmd
!thesis/ref-toc.Rmd
!thesis/_bookdown.yml
!thesis/_output_yml
!thesis/mf-references.bib
!thesis/preamble.tex
!thesis/ucetd.cls

!packrat/
packrat/*
!packrat/init.R
!packrat/packrat.lock
!packrat/packrat.opts
!packrat/src/*
packrat/lib*/
.Rproj.user
